*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
aStudio/app/.gitignore
aStudio/app/build.gradle
aStudio/app/proguard-rules.pro
aStudio/build.gradle
aStudio/gradle.properties
aStudio/gradle/
aStudio/gradlew
aStudio/gradlew.bat
aStudio/settings.gradle
Calculatrice/.gitignore
Calculatrice/.idea/
Calculatrice/app/.gitignore
Calculatrice/app/build.gradle
Calculatrice/app/proguard-rules.pro
Calculatrice/build.gradle
Calculatrice/gradle.properties
Calculatrice/gradle/
Calculatrice/gradlew
Calculatrice/gradlew.bat
Calculatrice/settings.gradle
aStudio/.gitignore
aStudio/app/.gitignore
aStudio/app/build.gradle
aStudio/app/proguard-rules.pro
aStudio/build.gradle
aStudio/gradle.properties
aStudio/gradle/
aStudio/gradlew
aStudio/gradlew.bat
aStudio/settings.gradle
intentionsExplicites/.gitignore
intentionsExplicites/.idea/
intentionsExplicites/app/.gitignore
intentionsExplicites/app/build.gradle
intentionsExplicites/app/proguard-rules.pro
intentionsExplicites/build.gradle
intentionsExplicites/gradle.properties
intentionsExplicites/gradle/
intentionsExplicites/gradlew
intentionsExplicites/gradlew.bat
intentionsExplicites/settings.gradle
